.certificate{
    width: 100%;
    height: 200vh;
    display: block;
    text-align: center;
    text-decoration: underline;
}
.certificate img{
    height: 100%;
    width: 100%;
    margin-bottom: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.certificate.blank{
    height: 30vh;
    width: 100%;
}